<main class="index">

<header class="masthead d-flex">

<div class="container text-center my-auto">
  <h1 class="mb-1">Favorite Rent a Car</h1>
  <h3 class="mb-5">
    <em>Manage your favorite orders</em>
  </h3>
  <a href="/signin" class="btn btn-primary">
  Let's get Started
  </a>
  <br>
  <lore>
This simple application was created by the engineer Darío Esquina Jr
Contact me at 6664-9941</lore>
</div>

</header>

</main>